{% extends "base.html" %}
{% block ajout_head %}
    {% load static %}
    {% load i18n %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/accueil.css' %}">
    {% load icons %}
{% endblock %}

{% block content %}
    <main role="main">
        <div class="banniere margeBanniere" style="background-image: url('{% static 'img/photo-banniere2.jpg' %}')">
            <div class="row float-md-left">
                <svg viewBox="300 100 1824 800">
                    <symbol id="s-text">
                        <text text-anchor="middle" x="47%" y="80%">{% trans "Contact" %}</text>
                    </symbol>

                    <g class="g-ants">
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                    </g>
                </svg>
            </div>
        </div>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-white ">
            <div class="col-md-10 mx-auto">
                <h2 class=" font-weight-normal">{% trans "Contribuer à un monde meilleur" %}</h2>

                <p class="fas fa-hand-holding-heart icon-separtor"></p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
        <div class=" container mb-5">
            <h4 class="mb-3">{% trans "Informations" %}</h4>
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">{% trans "Nom" %}</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            {% trans "Nom valid requis" %}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">{% trans "Prenom" %}</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            {% trans "Prénom valide requis" %}
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">{% trans "Email" %}<span class="text-muted">{% trans "(Optionel)" %}</span></label>
                    <input type="email" class="form-control" id="email" placeholder="abcd@example.com">
                    <div class="invalid-feedback">
                        {% trans "Entrer un mail valide" %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">{% trans "Message" %}</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <hr class="mb-4">
                <button class="btn bg-clair-amor text-light btn-lg btn-block col-md-4 offset-md-4" type="submit">
                    {% trans "Valider" %}
                </button>
            </form>
        </div>
        {% comment %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
              <button type="submit">Send</button>
            </div>
        </form>
        {% endcomment %}


    </main>

{% endblock %}