{% extends "base.html" %}
{% block ajout_head %}
    {% load static %}
    {% load i18n %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/s_engager.css' %}">
    {% load icons %}
{% endblock %}
{% block description %}{%  trans "Tu veux participer dans un projet innovant et donner de ton énergie dans une ONG qui travail pour des institutions locales sur le terrain ? Rejoins-nous !" %}{% endblock %}
{% block title %}{% trans "Devenir Membre"%} {% endblock %}


{% block content %}

<!--
    ajouter un bouton contacter
 -->

    <main role="main">
        <div class="banniere margeBanniere" style="background-image: url('{% static 'img/photo-banniere2.jpg' %}')">
            <div class="container float-right">
                <a class="btn btn-lg bg-clair-amor btn-outline-light btn-banniere mb-3 btn-banniere-size btn-banniere-size_dons" href="{% url "contact" %}">{% trans "Dons" %}</a>
            </div>
            <div class="container float-right">
                <a class="btn btn-lg bg-clair-amor btn-outline-light btn-banniere-size float-right"  href="{% url "contact" %}">{% trans "NewsLetters" %}</a>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 module">
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden paragraph_design">
                    <h3 class="pb-3 mb-4 font-italic border-bottom">
                     {% trans " Envie de donner de ton temps ?" %}
                    </h3>
                    <div class="blog-post justify">
                        <p>{% trans "• A.M.OR est toujours à la recherche d’une bonne âme prête à s’engager ponctuellement ou pour une durée un peu plus longue afin d’aider notre équipe ! "%}
                        </p>
                        <hr>
                        <p>{% trans "• Vous pouvez devenir membre de notre association, pour une cotisation annuelle de seulement CHF. 60.– ou 50 Euros. En étant membre, vous soutenez des projets que nous développons ou continuons chaque année et vous permettez de réduire les inégalités d'accès à une de qualité pour les enfants les plus démunis. Veuillez nous contacter avec notre formulaire pour plus de détails." %}</p>
                        <hr>
                        <p> {% trans " • Tu as des compétences informatiques, programmer un jeu t’intéresse, envie de nous donner un coup de main dans la recherche de matériel informatique, une bonne énergie et de bonnes idées? "%} </p>
                        <p class="text-center">
                            <a href="{% url "contact" %}">{% trans "Contacte-nous"%}</a> {% trans "au plus vite !"%}
                        </p>
                        <hr>
                        <p class="text-center" ><i class="fas fa-handshake icon-separtor-inverse"></i></p>
                    </div>
            </div>
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
                <div class="my-3 p-3">
                    <img src="{% static 'img/benevole.jpg' %}" class="align-right imgBenevole img-fluid" >
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
     <script type="text/javascript" src="{% static 'blog/js/base_blog.js' %}"></script>
{% endblock %}