/*

    Bannière--------------------------------

*/
.banniere {
  height: 30vh;
  min-height: 300px;
  background: no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.margeBanniere
{
    margin-top: 3%;
    padding-bottom: 15%;
}

/*
    ICONS--------------------------------
*/

.icon-heart
{
  font-size: 100px;
  color: #ffffff;
}

.icon-heart:hover
{
  color: #000000;
}

.icon-separtor
{
  font-size: 100px;
  color: #000000;
}


.icon-separtor:hover
{
  font-size: 100px;
  color: #f10000;
}

.icon-separtor-grand
{
  font-size: 300px;
  color: #000000;
}

.icon-separtor-grand:hover
{
  font-size: 300px;
  color: #f10000;
}


/*

    Texte--------------------------------

*/

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/*

    Pour une bonne séparation--------------------------------

*/
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}



/*

  Slide in image--------------------------------

 */

.align-left {
}

.align-right {
}

.slide-in {
	opacity: 0;
	transition: all .5s;
}

.align-left.slide-in {
	transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
	transform: translateX(30%) scale(0.95);
}

.slide-in.active {
	opacity: 1;
	transform: translateX(0%) scale(1);
}


/*

     Design paragraphe--------------------------------

*/

.paragraph_design
{
    border-top: solid 5px;
    border-left: solid 5px;
    border-color: #f10000 !important;
}

/*

     pour menu dans pays--------------------------------

*/

.scrollable-menu {
    height: auto;
    max-height: 500px;
}

/*

     btn banniere--------------------------------

*/


.btn-banniere-size {
  padding: 10px 24px;
}

.btn-banniere-size_dons {
  padding: 10px 56px;
  float: right;
  margin-top: 120px;
}

.float-right {
  float: right;
}

