{% extends "base.html" %}
{% block ajout_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/accueil.css' %}">
    {% load icons %}
    {% load i18n %}
{% endblock %}
{% block description %}{% trans "L’Association Mondiale pour les Orphelins vise à réduire les inégalités d’éducation et d’accès aux technologies de l’information." %}{% endblock %}
{% block title %}{% trans "Accueil"%}{% endblock %}

{% block content %}
    <main role="main">
        <!-- Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item" style="background-image: url('{% static 'img/image_accueil.jpg' %}')">
                    <div class="carousel-caption text-left mb-5">
                        <div class="card" style="background: rgba(50,50,50,.5); ">
                          <div class="card-header">
                            <h1 class="color-fonce-amor" >
                                <div class=" animate one d-block d-none d-sm-block d-md-block d-lg-none" style="font-size: 25px;">
                                    <span>H</span><span>i</span><span>T</span><span>e</span><span>c</span><span>h</span><span>4</span><span>O</span><span>r</span><span>p</span><span>h</span><span>a</span><span>n</span><span>s</span>
                                </div>
                                <div class="animate one d-none d-sm-none d-md-none d-lg-block ">
                                     <span>H</span><span>i</span><span>T</span><span>e</span><span>c</span><span>h</span><span>4</span><span>O</span><span>r</span><span>p</span><span>h</span><span>a</span><span>n</span><span>s</span>
                                </div>
                            </h1>
                              </div>
                              <div class="card-body">
                                  <p class="h4 d-none d-sm-block d-sm-none d-md-block mb-5">{% trans "Notre projet phare, elaboré après que l'Association aie reçu le statut ECOSOC en mai 2017, HiTech4Orphans aide des jeunes enfants, étudiants et orphelins..."%}</p>
                                  <p><a class="btn btn-lg bg-clair-amor btn-outline-light bg-fonce-amor" href="{% url "hitech4orphans" %}" role="button">{% trans "En savoir plus"%}</a></p>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active" style="background-image: url('{% static 'img/masonry-14.jpg' %}')">
                    <div class="carousel-caption text-left mb-5">
                        <div class="card" style="background: rgba(50,50,50,.5); ">
                          <div class="card-header">
                             <h1 class="color-fonce-amor">
                            <div class=" animate one d-block d-none d-sm-block d-md-block d-lg-none" style="font-size: 25px;">
                                <span>A</span><span>s</span><span>s</span><span>o</span><span>c</span><span>i</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span>
                                <span>A</span><span>.M</span><span>.O</span><span>R</span>
                            </div>
                            <div class="animate one d-none d-sm-none d-md-none d-lg-block ">
                                 <span>A</span><span>s</span><span>s</span><span>o</span><span>c</span><span>i</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span>
                                <span>A</span><span>.M</span><span>.O</span><span>R</span>
                            </div>
                        </h1>
                              </div>
                              <div class="card-body">
                                  <p class="h4 d-none d-sm-block d-sm-none d-md-block mb-5">{% trans "Nous croyons au potentiel de individus et notre objectif est d'aider ceux dans le besoin afin d'atteindre le meilleur de leurs capacités."%}</p>
                                  <p><a class="btn btn-lg bg-clair-amor btn-outline-light bg-fonce-amor" href="{% url "notreHistoire" %}" role="button">{% trans "En savoir plus"%}</a></p>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('{% static 'img/slider-4 (1).jpg' %}')">
                    <div class="carousel-caption text-left mb-5">


                        <div class="card" style="background: rgba(50,50,50,.5); ">
                          <div class="card-header">
                             <h1 class="color-fonce-amor">
                                 <div class=" animate one d-block d-none d-sm-block d-md-block d-lg-none" style="font-size: 25px;">
                                    {% trans "<span>A</span><span>m</span><span>b</span><span>a</span><span>s</span><span>s</span><span>a</span><span>d</span><span>e</span><span>u</span><span>r</span><span>s</span>"%}
                                </div>
                                <div class="animate one d-none d-sm-none d-md-none d-lg-block ">
                                     {% trans "<span>A</span><span>m</span><span>b</span><span>a</span><span>s</span><span>s</span><span>a</span><span>d</span><span>e</span><span>u</span><span>r</span><span>s</span>"%}
                            </div>
                            </h1>
                              </div>
                              <div class="card-body">
                                  <p class="h4 d-none d-sm-block d-sm-none d-md-block mb-5">{% trans "Nos ambassadeurs engagés."%}</p>
                                  <p><a class="btn btn-lg bg-clair-amor btn-outline-light bg-fonce-amor" href="{% url "nos_ambassadeurs" %}" role="button">{% trans "En savoir plus"%}</a></p>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="icon-arrow-amor fas fa-arrow-circle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="icon-arrow-amor fas fa-arrow-circle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <!-- Fin Carousel -->



        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light "
             style="background-image: url({% static 'img/enfant1.jpg' %});">
            <div class="col-md-10 mx-auto">
                <h2 class=" font-weight-normal">{% trans "Notre Mission"%}</h2>
                <p class="lead font-weight-normal text-light">{% trans "L'Association Mondiale pour les Orphelins (A.M.OR) a été fondée par un orphelin."%}</p>
                <p class="fas fa-bullseye icon-separtor"></p>
                <p class="lead font-weight-normal text-light">{% trans "Depuis sa création le 7 Janvier 1999 à Genève, A.M.OR a mené différents projets pour les orphelins, les personnes séropositives, les femmes et ceux dans le besoin." %}</p>
                <p class="lead font-weight-normal text-light">{% trans "En Mai 2017 l'Association reçu le statut consultatif ECOSOC des Nations Unies." %}</p>
            </div>
        </div>

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-clair-amor">
            <div class="col-md-10 mx-auto ">
                <h2 class="far fa-heart icon-heart"></h2>
                <p class="lead font-weight-normal text-light">{% trans "Votre contribution aidera ceux qui en ont besoin!" %}</p>
                <a class="btn btn-outline-light" href="{% url "contact" %}">{% trans "Contribuer maintenant"%}</a>
            </div>
        </div>

        <div class="album py-5 bg-light imageActu p-3 p-md-5 m-md-3">
        <h2 class="font-weight-normal text-center mb-3">{% trans "Nos Actualités" %}</h2>
        <div class="container scroll-actualite">
          <div class="row">
              {% for article in articles %}
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <h4 class="text-center">{{ article.titre|truncatewords_html:6 }}</h4>
                      <p class="card-text">{{ article.contenu|truncatewords_html:15 }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="{% url "article" article.id %}" class="btn btn-sm btn-outline-secondary">{% trans "Voir plus" %}</a>
                        </div>
                        <small class="text-muted">{{ article.created_at}}</small>
                      </div>
                    </div>
                  </div>
                </div>
               {% endfor %}
          </div>
        </div>
      </div>

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-10 mx-auto">
                <h2 class="font-weight-normal">{% trans "Inspirer les orphelins" %}</h2>
                <p class="lead font-weight-normal text-secondary">{% trans "Nous postulons que l'éducation est à la souche du progrès pour chaque sociétés et individus." %} </p>
                <p class="lead font-weight-normal text-secondary">{% trans "Par conséquent, nous cherchons à investir chez les plus jeunes pour les préparer à leur futur." %}</p>
                <p class="fas fa-laptop icon-separtor"></p>
                <h2 class="font-weight-normal color-clair-amor">{% trans "HiTech4Orphans" %}</h2>
                <p class="lead font-weight-normal text-secondary">{% trans "HiTech4Orphans est notre nouveau projet en Roumanie. Son objectif est d'aider les orphelins à obtenir des compétences dans l'informatique." %}</p>
                <a class="btn btn-outline-danger" href="{% url "hitech4orphans" %}">{% trans "En savoir plus" %}</a>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>


        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
             style=" -webkit-background-size: cover;
                     -moz-background-size: cover;
                     -o-background-size: cover;
                     background-size: cover; background-image: url({% static 'img/enfant2.jpg' %});">
            <div class="col-md-10 mx-auto ">
                <h2 class="font-weight-normal">{% trans "FESTIAMOR" %}</h2>
                <p class="lead font-weight-normal text-light">{% trans "FESTIAMOR est une série d'événements publics qui ont l'intention d'apporter le bonheur et de l'inspiration aux orphelins." %} </p>
                <p class="fas fa-glass-cheers icon-separtor"></p>
                <p class="lead font-weight-normal text-light"> {% trans "Grâce à des sponsors et les dons, les orphelins ont reçu des ordinateurs, des livres et d'autres objets pour encourager l'apprentissage et le bien-être." %}</p>
            </div>
        </div>
    </main>
{% endblock %}











