{% extends "base.html" %}

{% load i18n %}
{% block ajout_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/accueil.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base_blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    {% load icons %}

{% endblock %}

{% block content %}




        <!--



        Modifier la soucre de image les mettre dans le css



        -->






    <main role="main">
        <!-- Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('{% static 'img/slider-1 (1).jpg' %}')">
                    <div class="carousel-caption text-left mb-5">
                        <img class="mt-5 rounded img-border d-none d-sm-block d-sm-none d-md-block" src="{% static 'img/amor-axel-greub.jpg' %}" width="200" height="200">
                        <h1 class="color-clair-amor">
                            <div class="animate one">
                                <span>A</span><span>s</span><span>s</span><span>o</span><span>c</span><span>i</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span>
                                <span>A</span><span>.M</span><span>.O</span><span>R</span>
                            </div>
                        </h1>
                        <p class="h2 d-none d-sm-block d-sm-none d-md-block">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg bg-clair-amor text-light" href="#" role="button">En savoir plus</a></p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('{% static 'img/masonry-14.jpg' %}')">
                    <div class="carousel-caption text-left mb-5">
                        <h1 class="color-fonce-amor">
                            <div class="animate one">
                                <span>A</span><span>s</span><span>s</span><span>o</span><span>c</span><span>i</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span>
                                <span>A</span><span>.M</span><span>.O</span><span>R</span>
                            </div>
                        </h1>
                        <p class="h3 d-none d-sm-block d-sm-none d-md-block">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg bg-fonce-amor text-light" href="#" role="button">En savoir plus</a></p>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('{% static 'img/slider-4 (1).jpg' %}')">
                    <div class="carousel-caption text-left mb-5">
                         <h1 class="color-fonce-amor">
                            <div class="animate one">
                                <span>A</span><span>s</span><span>s</span><span>o</span><span>c</span><span>i</span><span>a</span><span>t</span><span>i</span><span>o</span><span>n</span>
                                <span>A</span><span>.M</span><span>.O</span><span>R</span>
                            </div>
                        </h1>
                        <p class="h4 d-none d-sm-block d-sm-none d-md-block">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg bg-fonce-amor text-light" href="#" role="button">En savoir plus</a></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="icon-arrow-amor fas fa-arrow-circle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="icon-arrow-amor fas fa-arrow-circle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <!-- Fin Carousel -->


        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-10 mx-auto">
                <div class=" container rounded col-md-8 offset-md-2 mt-3  mb-3">
                    <h1 class=" color-clair-amor ">Gala 2019</h1>
                    <h5 class=" color-clair-amor">Notre soirée de gala 8 Novembre, 2019</h5>
                </div>
                <div class="bg-dark container rounded col-md-8 offset-md-2  ">
                <div id="countdown" class="text-light"></div>
                <div class="col-md-10 offset-md-1 ">
                    <div class="progress mt-3">
                        <div id="progressBarCountdown" class="" role="progressbar"></div>
                    </div>
                </div>
                </br>
                <a class="btn btn-outline-light mb-3" href="#">En savoir plus</a>
                </div>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>


        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-clair-amor">
            <div class="col-md-10 mx-auto ">
                <h2 class="far fa-heart icon-heart"></h2>
                <p class="lead font-weight-normal text-light">{% trans "Votre contribution aidera ceux qui en ont besoin!" %}</p>
                <a class="btn btn-outline-light" href="#">Contribuer maintenant</a>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light "
             style="background-image: url({% static 'img/enfant1.jpg' %});">
            <div class="col-md-10 mx-auto">
                <h2 class=" font-weight-normal">Notre Mission</h2>
                <p class="lead font-weight-normal text-light">L'Association Mondiale pour les Orphelins (A.M.OR) a été
                    fondée par
                    un orphelin.</p>
                <p class="fas fa-bullseye icon-separtor"></p>
                <p class="lead font-weight-normal text-light">Depuis sa création le 7 Janvier 1999 à Genève, A.M.OR a
                    mené
                    différents projets pour les orphelins, les personnes séropositives, les femmes et ceux dans le
                    besoin.</p>
                <p class="lead font-weight-normal text-light">En Mai 2017 l'Association reçu le statut consultatif
                    ECOSOC des
                    Nations Unies.</p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>


        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-10 mx-auto">
                <h2 class="font-weight-normal">Inspirer les orphelins</h2>
                <p class="lead font-weight-normal text-secondary">Nous postulons que l'éducation est à la souche du
                    progrès pour chaque
                    sociétés et individus. </p>
                <p class="lead font-weight-normal text-secondary">Par conséquent, nous cherchons à investir chez les
                    plus jeunes pour
                    les préparer à leur futur.</p>

                <p class="fas fa-laptop icon-separtor"></p>

                <h2 class="font-weight-normal color-clair-amor">IHITECH4ORPHANS</h2>
                <p class="lead font-weight-normal text-secondary">HiTech4Orphans est notre nouveau projet en Roumanie.
                    Son objectif est
                    d'aider les orphelins à obtenir des compétences dans l'informatique.</p>
                <a class="btn btn-outline-danger" href="#">En savoir plus</a>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
             style=" -webkit-background-size: cover;
                     -moz-background-size: cover;
                     -o-background-size: cover;
                     background-size: cover; background-image: url({% static 'img/enfant2.jpg' %});">
            <div class="col-md-10 mx-auto ">
                <h2 class="font-weight-normal">FESTIAMOR</h2>
                <p class="lead font-weight-normal text-light">FESTIAMOR est une série d'événements publics qui ont
                    l'intention
                    d'apporter le bonheur et de l'inspiration aux orphelins. </p>
                <p class="fas fa-glass-cheers icon-separtor"></p>
                <p class="lead font-weight-normal text-light"> Grâce à des sponsors et les dons, les orphelins ont
                    reçu des ordinateurs,
                    des livres et d'autres objets pour encourager l'apprentissage et le bien-être.</p>
                <a class="btn btn-outline-dark" href="#">En savoir plus</a>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'blog/js/accueil.js' %}"></script>
{% endblock %}











