{% extends "base.html" %}
{% block ajout_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/accueil.css' %}">
    {% load icons %}
    {% load i18n %}
{% endblock %}

{% block description %}{%  trans "Sur cette page nous vous présentons nos membres qui sont l'âme de notre association." %}{% endblock %}
{% block title %}{% trans "Nos membres"%} {% endblock %}


{% block content %}

    <main role="main">
        <div class="banniere margeBanniere" style="background-image: url('{% static 'img/photo-banniere2.jpg' %}')">
            <div class="row float-md-left">
                <div class="container">
                    <div class="sp-container">
                        <div class="sp-content">
                            <h2 class="frame-5 text-center">
                                <span class="text-size-fade-in">{% trans "Membres" %}</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block">
                <div class="container float-right">
                    <a class="btn btn-lg bg-clair-amor btn-outline-light btn-banniere mb-3 btn-banniere-size btn-banniere-size_dons"
                       href="{% url "contact" %}">{% trans "Dons" %}</a>
                </div>
                <div class="container float-right">
                    <a class="btn btn-lg bg-clair-amor btn-outline-light btn-banniere-size float-right"
                       href="{% url "contact" %}">{% trans "NewsLetters" %}</a>
                </div>
            </div>
        </div>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-white ">
            <div class="col-md-10 mx-auto">
                <h1 class=" font-weight-normal">{% trans "Rencontrez notre équipe" %}</h1>
                <p class="lead font-weight-normal text-secondary">{% trans "Vous trouverez ici un bref profil de tout notre personnel dévoué!" %}</p>
                <p class="fas fa-users icon-separtor"></p>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>


        <div class="ml-5 mr-5">
            {% for membre in membres %}
                {% if forloop.counter0|divisibleby:2 %}
                    <div class="row mb-2">
                {% endif %}

            <div class="col-md-6">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 color-clair-amor">{{ membre.titre|truncatewords_html:5 }}</strong>
                        <h4 class="mb-0">
                            <p class="text-dark">{{ membre.nom }} {{ membre.prenom }}</p>
                        </h4>
                        <p class="card-text mb-auto">{{ membre.description|truncatewords_html:5 }} </p>


                        <a href="

                        {% if not membre.pays_set.first.id %}
                            {% url "membre" membre.id %}
                        {% else %}
                            {% url "pays" membre.pays_set.first.id %}
                        {% endif %}

                         ">{% trans "Continuer à lire"%}</a>

                    </div>
                    <img class="bd-placeholder-img card-img-right  d-none d-lg-block"
                         src="{{ membre.image.url }}" width="250" height="250">
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
                </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="ml-5 mr-5 mb-5">
            {% if is_paginated %}

                <ul class="pagination">

                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Précédente" %}</a>
                        </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1">{% trans "Page" %} {{ page_obj.number }}
                            {% trans "sur" %} {{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Suivante" %}</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </main>

{% endblock %}