{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>

    {# Load the tag library #}
    {% load bootstrap4 %}
    {% load icons %}
    {% load fontawesome %}
    <!-- pour la liste de toutes les icon :  https://fontawesome.com/icons?d=gallery -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% fontawesome_stylesheet %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base_blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="icon" href="{% static 'img/Amor-main.png' %}">

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% block ajout_head %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
    <meta name="description" content="{% block description %}Ma description personnalisée{% endblock %}">
    <title>A.M.OR | {% block title %}{% endblock %}</title>
</head>
<body>

{# Mettre des breadcrumb#}

{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav-border-top">
        <img src="{% static 'img/Amor-main.png' %}" alt="LogoAmorSmall" class="ml-3"/>
        <a class="navbar-brand" href="{% url "accueil" %}"> A.M.OR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse text-size-nav navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto ">
                <a class="nav-link {% if "accueil" in request.path %}active{% endif %}" role="button" aria-haspopup="true" aria-expanded="false" href="{% url "accueil" %}">
                    {% trans "ACCUEIL"%}
                </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if "/l_association/" in request.path %}active{% endif %} " href="" id="navbarDropdownAprop" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "L'ASSOCIATION"%}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAprop">
                        <a class="dropdown-item nav-link-bg-click" id="test" href="{% url "notreHistoire" %}">{% trans "Notre Histoire"%}</a>
                        <a class="dropdown-item nav-link-bg-click" href="{% url "membres" %}">{% trans "Nos Membres"%}</a>
                        <a class="dropdown-item nav-link-bg-click" href="{% url "nos_ambassadeurs" %}">{% trans "Nos ambassadeurs"%}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if "nos_projet" in request.path %}active{% endif %}" href="#" id="navbarDropdownMaison" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "NOS PROJETS"%}
                    </a>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdownMaison">
                        <a class="dropdown-item nav-link-bg-click" href="{% url "hitech4orphans" %}">{% trans "HITECH4ORPHANS"%}</a>
                        {% comment %}<a class="dropdown-item" href="{% url "gala_2019" %}">{% trans "Gala 2019"%}</a>{% endcomment %}
                        <a class="dropdown-item nav-link-bg-click" href="{% url "articles" %}">{% trans "Articles"%}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if "s_engager" in request.path %}active{% endif %}" href="#" id="navbarDropdownAprop" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "S'ENGAGER"%}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAprop">
                        <a class="dropdown-item nav-link-bg-click" href="{% url "dev_bene" %}">{% trans "Devenir Membre"%}</a>
                        <a class="dropdown-item nav-link-bg-click" href="{% url "dev_stagiaire" %}">{% trans "Devenir Stagiaire"%}</a>
                        <a class="dropdown-item nav-link-bg-click" href="{% url "contact" %}">{% trans "Contact"%}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if "amor_monde" in request.path %}active{% endif %}" href="#" id="navbarDropdownMaison" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "AMOR MONDE"%}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMaison">
                        <a class="dropdown-item nav-link-bg-click" href="{% url "ecosoc_onu" %}">{% trans "ECOSOC/ONU"%}</a>
                        <a class="dropdown-item nav-link-bg-click" href="{% url "pays" 1%}">{% trans "Pays"%}</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% icon 'globe' %} {% trans "Langue"%}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                             <form class="flex-container" method="post" action="{% url 'set_language' %}" >
                            {% csrf_token %}
                                  <input name="next" type="hidden" value="{{ redirect_to }}">
                                  <button type="submit" name="language" class="dropdown-item nav-link-bg-click" value="{{ language.code }}">{{ language.name_local | title}}</button>
                            </form>
                        {% endfor %}
                        <button type="submit" name="language" class="dropdown-item nav-link-bg-click" disabled>{% trans "Arabe" %}</button>
                        <button type="submit" name="language" class="dropdown-item nav-link-bg-click" disabled>{% trans "Chinois" %}</button>
                        <button type="submit" name="language" class="dropdown-item nav-link-bg-click" disabled>{% trans "Espagnol" %}</button>
                        <button type="submit" name="language" class="dropdown-item nav-link-bg-click" disabled>{% trans "Russe" %}</button>
                    </div>
                </li>
                <li class="nav-item d-block d-none d-sm-block d-md-block d-lg-none text-center">
                        <a class="btn btn-xs btn-outline-danger text-light btn-banniere mr-2"
                       href="{% url "contact" %}">{% trans "Dons" %}</a>
                        <a class="btn btn-xs btn-outline-danger text-light btn-banniere "
                       href="{% url "contact" %}">{% trans "NewsLetters" %}</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

<section id="content">
    {% block content %}
    {% endblock %}
</section>

</body>

<footer class="blog-footer">
    <div class="container align-right mt-3">
        <a class="btn btn-social-icon btn-lg btn-linkedin" target="_blank" href="https://www.linkedin.com/in/amor-gen%C3%A8ve-8b807a179/">
            <span class="fa fa-linkedin white"></span>
        </a>
        <a class="btn btn-social-icon btn-lg btn-instagram" target="_blank" href="https://www.instagram.com/a.m.or_officiel/">
            <span class="fa fa-instagram white"></span>
        </a>
        <a class="btn btn-social-icon btn-lg btn-facebook" target="_blank" href="https://www.facebook.com/Association-Mondiale-pour-les-Orphelins-1940330459537434/">
            <span class="fa fa-facebook white"></span>
        </a>
        <a class="btn btn-social-icon btn-lg btn-twitter" target="_blank" href="https://twitter.com/NGOAMor">
            <span class="fa fa-twitter white"></span>
        </a>
    </div>
    <p class="mt-3">{% trans "© AMOR 2019, TOUS DROITS RÉSERVÉS, "%}
        {% comment %}· <a href="#" class="color-clair-amor">{% trans "Conditions"%}</a> {% endcomment %}</p>
    <span>
        <a class="icon-arrow-amor" href="#">{% icon 'arrow-circle-up' %}</a>
    </span>
</footer>
</html>
{% block script %}
{% endblock %}

