{% extends "base.html" %}
{% block ajout_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/accueil.css' %}">
    {% load icons %}
    {% load i18n %}
{% endblock %}

{% block content %}
    <main role="main">
     <        <div class="banniere margeBanniere" style="background-image: url('{% static 'img/photo-banniere2.jpg' %}')">
            <div class="row float-md-left">
                <div class="container">
                    <div class="sp-container">
                        <div class="sp-content">
                            <h2 class="frame-5 text-center">
                                <span class="text-size-fade-in">{% trans "Article" %}</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block">
                <div class="container float-right">
                    <a class="btn btn-lg btn-outline-danger text-light btn-banniere mb-3 btn-banniere-size btn-banniere-size_dons"
                       href="{% url "contact" %}">{% trans "Dons" %}</a>
                </div>
                <div class="container float-right">
                    <a class="btn btn-lg btn-outline-danger text-light btn-banniere-size float-right"
                       href="{% url "contact" %}">{% trans "NewsLetters" %}</a>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
            <div class=" w-100 my-md-3 pl-md-3 mb-5">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden text-secondary paragraph_design">
                    <h1 class="pb-3 mb-4 font-italic border-bottom text-center">
                        {{ article.titre }}, ({{ article.created_at }})
                    </h1>
                    <div>
                        <p class="justify">{{ article.contenu|safe|linebreaks }}</p>
                        <hr>
                        <p class="text-center">{{ article.auteur.prenom}} {{ article.auteur.nom}}</p>
                        <a class="btn btn-lg bg-fonce-amor text-light mb-5" href="{%  url "articles" %}">{% trans "retour" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script %}
    <script>


    </script>
{% endblock %}