{% extends "base.html" %}
{% block ajout_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base_blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/accueil.css' %}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
    {% load icons %}

{% endblock %}

{% block content %}
    <main role="main">
        <div class="banniere margeBanniere" style="background-image: url('{% static 'img/photo-banniere2.jpg' %}')">
            <div class="row float-md-left">
                <svg viewBox="300 100 1824 800">
                    <symbol id="s-text">
                        <text text-anchor="middle" x="47%" y="80%">Article</text>
                    </symbol>

                    <g class="g-ants">
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                    </g>
                </svg>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 module ">
            <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 module mb-5">
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 mb-4 text-white overflow-hidden text-secondary paragraph_design">
                    <h3 class="pb-3 mb-4 font-italic border-bottom">
                        {{ article.titre }}
                    </h3>
                    <div class="blog-post justify">
                        <p>{{ article.contenu|linebreaks }}
                        </p>
                        <hr>
                        <p class="text-center">{{ article.auteur }}, {{ article.created_at }}</p>
                        <a class="btn btn-lg bg-fonce-amor text-light mb-5" href="{%  url "articles" %}">retour</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}