{% extends "base.html" %}
{% block ajout_head %}
    {% load static %}
    {% load i18n %}
    {% load icons %}
{% endblock %}

{% block description %}{%  trans "Avec des outils en libres accès et OpenSource, nous équipons nos partenaires et enseignons la programmation et le graphique design aux plus démunis." %}{% endblock %}
{% block title %}{% trans "HITECH4ORPHANS"%} {% endblock %}

{% block content %}
    <main role="main">
        <div class="banniere margeBanniere" style="background-image: url('{% static 'img/photo-banniere2.jpg' %}')">
            <div class="row float-md-left">
                <div class="container">
                    <div class="sp-container">
                        <div class="sp-content">
                            <h2 class="frame-5 text-center">
                                <span class="text-size-fade-in">{% trans "HITECH4ORPHANS" %}</span>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-none d-md-none d-lg-block">
                <div class="container float-right">
                    <a class="btn btn-lg bg-clair-amor btn-outline-light btn-banniere mb-3 btn-banniere-size btn-banniere-size_dons"
                       href="{% url "contact" %}">{% trans "Dons" %}</a>
                </div>
                <div class="container float-right">
                    <a class="btn btn-lg bg-clair-amor btn-outline-light btn-banniere-size float-right"
                       href="{% url "contact" %}">{% trans "NewsLetters" %}</a>
                </div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 module">
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden paragraph_design">
                    <h1 class="pb-3 mb-4 font-italic border-bottom">
                        {% trans "Résumé" %}
                    </h1>
                    <div class="blog-post justify">
                        <p>
                            {% trans "L'Association Mondiale pour les Orphelins (A.M.OR) vise à offrir une éducation numérique à des enfants en situation de précarité."%}
                        </p>
                        <p>
                            {% trans "A travers son projet phare HiTech4Orphans lancé en 2017, des programmes éducatifs en programmation et design graphique sont établis en partenariat avec des écoles et institutions. Ces institutions reçoivent les moyens matériels et des outils pédagogiques innovants favorisant l'apprentissage par leurs écoliers de compétences digitales, de plus en plus importantes dans le monde du travail. Nous utilisons surtout des logiciels opensource et des ressources libre d'accès (LibreOffice, Atom, Freecodecamp, GIMP, Scratch, Roblox...). Nous utilisons aussi des licences chez https://codecombat.com/ pour l'initiation des enfants de bas âge." %}
                        </p>
                        <p>
                            {% trans "Après avoir obtenu du matériel informatique donné par des acteurs publiques et privés, et suite aux évaluations et contacts établis avec les institutions locales, des salles informatiques et des programmes d'apprentissage ont été mis en place pour le bénéfice des enfants. Nous offrons des cours et des outils aux élèves mais aussi et surtout aux professeurs et aux structures locales - car au cœur de nos projets, soutenabilité et autonomie de l’apprentissage sont cruciales. En effet, nos partenaires sur le terrain initient les enfants à ces  compétences digitales;  semaine après semaine, année après année; comme une pollinisation dans la durée." %}
                        </p>
                        <hr>
                    </div>
            </div>
            <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
                <div class="my-3 p-3">
                    <img src="{% static 'img/hitech4_2.jpg' %}" class="align-right img-fluid" >
                </div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 ">
             <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <img src="{% static 'img/hitech4_1.jpg' %}" class="align-left img-fluid">
                </div>
            </div>
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden paragraph_design">
                    <h3 class="pb-3 mb-4 font-italic border-bottom">
                        {% trans "1ère étape : 1500 enfants aidés et formés en Roumanie et Île Maurice" %}
                    </h3>

                    <div class="blog-post justify">
                        <p>{% trans "Aujourd'hui, nous terminons un contrat avec la ville de Bucarest. HiTech4Orphans travaille en étroite collaboration avec la direction générale de la protection de l’enfance du secteur 6 (Direcţia Generală de ASISTENTA sociala şi Protectia Copilului secteur 6) de Bucarest. Le projet sera mis en œuvre dans trois bâtiments différents. En tout premier lieu dans le bâtiment qui accueille les enfants handicapés (900 enfants) qui pourront apprendre grâce à la technologie d'assistance. En second lieu, nous allons mettre en place les premiers cours d'introduction de codage pour des enfants de tous les milieux sociaux et les orphelins qui suivent des cours dans un programme informatique conjoint avec le secteur 6 (jusqu'à 20 personnes)." %}</p>
                        <hr>
                        <p>
                        </p>
                        <p>
                            {% trans "Tout cela n’aurait jamais pu être possible sans nos 87 ordinateurs obtenus grâce à la générosité de nos 3 partenaires. L’International Conference Center (CICG - Centre International de Genève Conférences) , qui nous a fait don de 47 ordinateurs. La Solidarité Informatique Sans Frontière (SISF – Belgique) qui nous a donné 20 ordinateurs. Enfin, la fondation Thuor (Genève) qui nous a offert 20 ordinateurs. Nous remercions chaleureusement tous nos partenaires pour leur confiance." %}
                        </p>
                        <hr>
                        <p>
                            {% trans "Île Maurice: avec le soutien du canton de Vaud, A.M.OR a fourni 4 laptops et donne des cours auprès de la Maison Familiale rurale du Nord  (MFR du Nord de Calebasses) - institution pédagogique pour plus de 120 enfants en situation précaire." %}
                        </p>
                        <hr>

                    </div>
            </div>
        </div>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 module">
                <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden paragraph_design">
                        <h3 class="pb-3 mb-4 font-italic border-bottom">
                            {% trans "Avenir 2022" %}
                        </h3>
                        <div class="blog-post justify">
                            <p>
                                {% trans "Nous avons décidé d’étendre nos action à 10 pays d’ici 2022:"%}
                            </p>
                            <hr>
                            <p>
                                {% trans "• Sénégal: Dakar - Nous planifions l'opérationnalisation d'une salle informatique pouvant accueillir 25 enfants." %}
                            </p>
                            <p>
                                {% trans "• RDC: Uvira - L'Association des Jeunes pour le Développement Intégré-Kalundu nous a sollicité et nous avons une salle prête pour accueillir 15 PC qui serviront deux à trois fois par semaines pour des enfants affectés par des conflits armés." %}
                            </p>
                            <p>
                                {% trans "• Togo: Tsévié - L'Association des Jeunes en Action pour le Développement de l’Afrique nous a approché pour inauguré une salle d'une capacité de 40 PC dans leurs centres spécialisés dans l'auto-entreprenariat pour les jeunes." %}
                            </p>
                            <p>
                                {% trans "• Côte d'Ivoire: Yamoussoukro - Avec l'appui de la municipalité avec laquelle nous participons activement au débat sur le besoin de former les pédagogues africains pour éviter une pénurie d'enseignant pour une jeunesse africaine en pleine explosion démographique. Nous sommes sollicités par l’éducation nationale pour mettre en place notre projet dans différentes écoles publiques." %}
                            </p>
                            <p>
                                {% trans "• Maroc: Casablanca - Avec L'Association Marocaine de l'Orphelin; (AMO), un projet conjoint est en discussion pour équiper un de leur centre et implémenter HiTech4Orphans." %}
                            </p>
                            <p>
                                {% trans "• Cambodge: Phnom Penh - Notre représentant va établir un partenariat avec une institutions chargé de l'éducation des enfants pauvre de la périphérie de Phnom Penh." %}
                            </p>
                            <p>
                                {% trans "• Bulgarie: Sofia - notre représentante locale explore différentes opportunités pour 2020 et dans la capitale Sofia." %}
                            </p>
                            <p>
                                {% trans "• A déterminer, nous n'avons pas encore décider quel sera le dernier pays pour accueillir HiTech4Orphans. Nous étudions des possibles partenariats au Trinidad, au Venezuela, en Colombie, Pérou et au Kazakhstan. Nous vous prions de nous contacter pour étudier des propositions sérieuses sur l'implémentation de salle informatique." %}
                            </p>
                        </div>
                </div>
                <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center">
                    <div class="my-3 p-3">
                        <img src="{% static 'img/hitech4Oprhans/blog_hitech4Orphans_img3.jpg' %}" class="align-right img-fluid" >
                    </div>
                </div>
            </div>
    </main>
{% endblock %}

{% block script %}
     <script type="text/javascript" src="{% static 'blog/js/base_blog.js' %}">
     </script>
{% endblock %}